<!-- base HTML 코드를 불러옴 -->
{% extends 'base.html' %}
<!-- base.html 에서 지정한 block -->
{% block content %}

<div class="container my-3">
  <h1>Question Detail</h1>
  <hr />
  <h2 class="border-bottom py-2">{{question.subject}}</h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line">{{question.content}}</div>
      <div class="d-flex justify-content-end">
        <div class="badge badge-light p-2 text-left">
          <div class="mb-2">{{question.author.username}}</div>
          {{question.create_date}}
        </div>
      </div>
      {% if question.modify_date %}
      <div class="d-flex justify-content-end">
        <div class="badge badge-light p-2 text-left">
          <div class="mb-2">modified at</div>
          <!-- 질문 수정 날짜 -->
          {{question.modify_date}}
        </div>
      </div>
      {% endif %}
      <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'board:index' %}">ToList</a>
      {% if question.author == request.user %}
      <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'board:question_modify' question_id=question.id %}">Modify</a>
      <a type="button" class="delete btn btn-sm btn-outline-secondary" href="#" data-uri="{% url 'board:question_delete' question_id=question.id %}">Delete</a>
      {% endif %}
      <!-- 질문 댓글 영역 START -->
      <div class="mt-3">
        {% if question.comment_set.count > 0 %}
        <!-- 댓글 반복문 -->
        {% for comment in question.comment_set.all %}
        <!-- 질문 댓글 앵커 부분 -->
        <a name=""></a>
        <div class="comment py-2 text-muted">
          <span style="white-space: pre-line">{{ comment.content }}</span>
          <span class="comment"> - <b>{{ comment.author.username }}</b>, {{ comment.create_date }} {% if comment.modify_date %} (수정 : {{ comment.modify_date }} ) {% endif %} </span>
          <a href="{% url 'board:comment_modify_question' comment_id=comment.id %}" class="small">수정</a>
          <a href="#" data-uri="{% url 'board:comment_delete_question' comment_id=comment.id %}" class="small delete">삭제</a>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div>
        <a href="{% url 'board:comment_create_question' question_id=question.id %}" class="small">댓글 추가...</a>
      </div>
      <!-- 질문 댓글 영역 END -->
    </div>
  </div>

  <h5 class="border-bottom my-3 py-2">
    <!-- 답변 개수 -->
    {{question.answer_set.count}} 개 답변
  </h5>
  <div class="col-12">
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" style="white-space: pre-line">{{ answer.content }}</div>
        <div class="d-flex justify-content-end">
          <div class="badge badge-light p-2 text-left">
            <div class="mb-2">{{ answer.author.username }}</div>
            {{ answer.create_date }}
          </div>
        </div>
        {% if answer.modify_date %}
        <div class="d-flex justify-content-end">
          <div class="badge badge-light p-2 text-left">
            <div class="mb-2">modified at</div>
            {{ answer.modify_date }}
          </div>
        </div>
        {% endif %} {% if answer.author == request.user %}
        <div class="my-3">
          <a href="{% url 'board:answer_modify' answer_id=answer.id %}" class="btn btn-sm btn-outline-secondary">Modify</a>
          <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'board:answer_delete' answer_id=answer.id %}">Delete</a>
        </div>
        {% endif %}
        <!-- 질문 댓글 영역 START -->
        <div class="mt-3">
          {% if answer.comment_set.count > 0 %}
          <!-- 댓글 반복문 -->
          {% for comment in answer.comment_set.all %}
          <!-- 질문 댓글 앵커 부분 -->
          <a name=""></a>
          <div class="comment py-2 text-muted">
            <span style="white-space: pre-line">{{ comment.content }}</span>
            <span class="comment"> - <b>{{ comment.author.username }}</b>, {{ comment.create_date }} {% if comment.modify_date %} (수정 : {{ comment.modify_date }} ) {% endif %} </span>
            <a href="{% url 'board:comment_modify_answer' comment_id=comment.id %}" class="small">수정</a>
            <a href="#" data-uri="{% url 'board:comment_delete_answer' comment_id=comment.id %}" class="small delete">삭제</a>
          </div>
          {% endfor %} {% endif %}
        </div>
        <div>
          <a href="{% url 'board:comment_create_answer' answer_id=answer.id %}" class="small">답변 댓글 추가...</a>
        </div>
        <!-- 질문 댓글 영역 END -->
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-12">
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% for field in form %} {% if field.errors %}
      <strong>{{field.label}}</strong>
      {{field.errors}} {% endif %} {% endfor %}
    </div>
    {% endif %}
    <form action="{% url 'board:answer_create' question_id=question.id %}" method="post" class="my-3">
      <div class="form-group">
        <textarea name="content" id="content" rows="10" class="form-control" style="resize: none" {% if not user.is_authenticated %}disabled{% endif %}></textarea>
        {% csrf_token %}
      </div>
      <input type="submit" value="답변 등록" class="btn btn-primary" />
    </form>
  </div>
</div>

{% endblock %}
<!-- Script 작성 블럭 -->
{% block script %}
<script>
  $(function () {
    $(".delete").click(function (e) {
      e.preventDefault();

      uri = $(this).data("uri");

      if (confirm("정말로 삭제하시겠습니까 ?")) {
        location.href = uri;
      } else {
        return;
      }
    });
  });
</script>
{% endblock %}

<!-- 
  HTML 태그의 전역 속성 : 태그와 상관없이 모든 태그에 적용 가능한 속성
    name / class / id / style / data-* 
-->
