<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	table{
		border: 1px solid black;
	}
</style>
<body>
	<h1>ThymeLeaf 예제</h1>
	<table>
		<tr>
			<th>MID</th>
			<th>MNAME</th>
			<th>REGDATE</th>
		</tr>
		<tr th:each="member : ${list }">
			<td th:text="${member.mid }"></td>
			<td th:text="${member.mname }"></td>
			<td th:text="${#dates.format(member.regdate, 'yy-MM-dd hh:mm:ss') }"></td>
		</tr>
	</table>
	
	<br />
	<hr />
	<br />
	
	<!-- MID 가 a---m1 인 경우 secret 로 출력 -->
	<table>
		<tr>
			<th>MID</th>
			<th>MNAME</th>
			<th>REGDATE</th>
		</tr>
		<tr th:each="member : ${list }">
			<td th:text="${member.mid == 'a---m1' ? 'secret' : member.mid }"></td>
			<td th:text="${member.mname }"></td>
			<td th:text="${#dates.format(member.regdate, 'yy-MM-dd hh:mm:ss') }"></td>
		</tr>
	</table>
	
	<br />
	<hr />
	<br />
	
	<!-- MID 가 a---m1 인경우 MODIFY 라는 단어로 변경해서 출력, 아니라면 VIEW 라는 단어로 변경해서 출력 -->
	<table>
		<tr>
			<th>MID</th>
			<th>MNAME</th>
			<th>REGDATE</th>
		</tr>
		<tr th:each="member : ${list }">
<!-- 		<td th:if="${member.mid == 'a---m1' }" th:text="MODIFY"></td>
			<td th:unless="${member.mid == 'a---m1' }" th:text="VIEW"></td> -->
			<td th:if="${member.mid }">
				<a href="/MODIFY" th:if="${member.mid == 'a---m1' }">MODIFY</a>
				<span th:unless="${member.mid == 'a---m1' }">VIEW</span>
			</td>
			<td th:text="${member.mname }"></td>
			<td th:text="${#dates.format(member.regdate, 'yy-MM-dd hh:mm:ss') }"></td>
		</tr>
	</table>
	
</body>
</html>