<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="border: 1px solid blue">
		<th:block th:replace="~{/fragments/fragment2}"></th:block>
	</div>

	<div th:replace="~{/fragments/fragment1::part1}"></div>
	<h1>LayOut</h1>
	<div th:replace="~{/fragments/fragment1::part3}"></div>
	<h1>LayOut</h1>
	<!-- <div th:replace="~{/fragments/fragment1::part2}"></div> -->
	<!-- th:block > 태그를 사용하지 않고 thymeleaf 기능 적용 가능 -->
	<th:block th:insert="~{/fragments/fragment1::part2}"></th:block>
</body>
</html>