<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      <a href="#">사진 목록 페이지</a>
    </h1>
    <h3><a href="{% url 'photo_post' %}">New Photo</a></h3>
    {% if photos %}
    <section>
      {% for photo in photos %}
      <div>
        <h2>
          <!-- url 'views.py 의 name 값' pk='테이블 고유 값' -->
          <a href="{% url 'photo_detail' pk=photo.id%}">{{ photo.title }}</a>
        </h2>
        <img src="{{ photo.image }}" alt="{{ photo.title }}" width="300" />
        <p>{{ photo.author }}, {{ photo.price }}</p>
      </div>
      {% endfor %}
    </section>
    {% endif %}
  </body>
</html>
